.conten-header {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

.carousel-div {
    display: flex;
    flex-direction: column;
    height: 800px ; 
}

.carousel-item {
   height: 100%;
   max-width: 100%;
    
}

.img-carr {
    height: 100%;
    width: 100%;
    object-fit: contain;
}